.button_color {
  background-color: #f7c761;
  border-color: #f7c761;
}

.button_color:hover {
  background-color: transparent;
  border-color: #f7c761;
}

.button_text {
  color: white;
  font-family: "Roboto";
}

.button_text:hover {
  color: #222222;
  font-family: "Roboto";
}

.primary {
  color: #f7c761;
  transition: color 0.2s ease;
  font-family: "Roboto";
}

.primary:hover {
  color: #222222;
  font-family: "Roboto";
}

.body_text {
  color: #222222;
  font-family: "Roboto";
}

.text {
  color: #222222;
  transition: color 0.1s ease;
  font-family: "Roboto";
}

.cursive {
  color: #222222;
  transition: color 0.1s ease;
  font-family: "Story Script", cursive;
}

.bg_image {
  background-image: url("https://bicandy-new.42web.io/nutriverse/pages/images/About_image.jpeg");
  background-size: 100%;
  background-position: center;
}